.h1
  | プライバシーポリシー

| にゅ～ぶる(
= link_to '@newburu', 'https://twitter.com/newburu', {target: '_blank'}
| )（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）におけるプライバシー情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
br
br
.h2
  | 第1条（個人情報の利用目的）
| 運営者は、以下の利用目的のためにユーザーの個人情報を収集します。
ul
  li
    | 本サービスを提供するため
  li
    | ログイン時における本人認証、その他本サービスの運営に必要な管理のため
  li
    | 本サービスの利用規約に違反する行為への対応及び当該違反行為の防止のため
  li
    | 本サービスに関する規約、ポリシー等の変更等をお客様に通知するため
  li
    | 紛争、訴訟などへの対応のため
  li
    | 本サービスに関するご案内、お客様からのお問い合わせ等への対応のため
br
.h2
  | 第2条（広告の配信について）
| 本サービスは第三者配信の広告サービス「Google Adsenseグーグルアドセンス」を利用しています。 
| 広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。 
| Cookie（クッキー）を無効にする設定およびGoogleアドセンスに関する詳細は「 
= link_to '広告 – ポリシーと規約 – Google', 'https://policies.google.com/technologies/ads', {target: '_blank'}
|  」をご覧ください。
br
br
.h2
  | 第3条（アクセス解析ツールについて）
| 本サービスでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。 
| このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。 
| このトラフィックデータは匿名で収集されており、個人を特定するものではありません。 
| この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくは 
= link_to 'こちら', 'https://marketingplatform.google.com/about/analytics/terms/jp/', {target: '_blank'}
|  をご参照ください。
br
br
.h2
  | 第4条（本サービスへの投稿について）
| 本サービスでは、スパム・荒らしへの対応として、投稿の際に使用されたIPアドレスを記録しています。 
| スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。 
| 加えて、次の各号に掲げる内容を含む投稿は管理人の裁量によって承認せず、削除する事があります。
br
| 特定の自然人または法人を誹謗し、中傷するもの。
| 極度にわいせつな内容を含むもの。
| 禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。
| その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。
br
br
.h2
  | 第5条（個人情報の第三者提供について）
| 法令に定める場合を除き、個人情報を事前に本人の同意を得ることなく第三者に提供することは行いません。
br
br
.h2
  | 第6条（個人情報の管理について）
| 収集された個人情報は適切な管理の下で安全に蓄積・保管し、不正アクセス、紛失、破壊、改竄、漏洩などの危険に対して適切に技術的、組織的な予防および対策を講じます。
| 個人情報もしくは情報システムを取り扱う業務を外部に委託する場合には、委託先の厳正な管理監督の下で行います。
br
br
.h2
  | 第7条（個人情報の開示・訂正・利用停止・消去・苦情について）
| 当社は、本人が自己の個人情報について、開示・訂正・利用停止・消去などを求める権利を有していることを確認し、
| 「個人情報取扱に関するお問い合わせ窓口」を設け、これらの要求や苦情に対して速やかに対処します。
br
br
.h2
  | 第8条（個人情報に関するお問い合わせ、開示等の請求に関する窓口）
- if Settings.system[:official_twitter_id].present?
  = link_to '公式Twitter', "#{Settings.system[:twitter][:url]}#{Settings.system[:official_twitter_id]}",  {target: '_blank'}
- else
  | 公式Twitter
|  、もしくは 
- if Settings.system[:google_form_url].present?
  = link_to 'お問合わせフォーム', Settings.system[:google_form_url],  {target: '_blank'}
- else
  | お問合わせフォーム
|  よりご連絡ください。
br
br
| 以上
br
.text-right
  | 改正:2022年09月01日