<div id="<%= dom_id letter %>">
  <p>
    <strong>User:</strong>
    <%= letter.user_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= letter.subject %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= letter.content %>
  </p>

</div>
