<p style="color: green"><%= notice %></p>

<h1>Letters</h1>

<div id="letters">
  <% @letters.each do |letter| %>
    <%= render letter %>
    <p>
      <%= link_to "Show this letter", letter %>
    </p>
  <% end %>
</div>

<%= link_to "New letter", new_letter_path %>
