html {
    font-size: 64%;
}

main {
    padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8rem;
}

.footer-menu {
    height: 8rem;
    span {
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    i {
        font-size: 2rem;
    }
}

.notifications {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    .notice {
        background-color: $main-color;
    }
    .alert {
        background-color: lightsalmon;
    }
}

.errors {
    background-color: lightsalmon;
    color: red;
    text-align: center;
    font-size: 1.5rem;
}

.field_with_errors {
    .form-control {
        border-color: red;
    }
}

.delete_link {
    background: none;
    border: none;
    color: $main-color;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    &:hover {
        color: #fff;
        background-color: #000;
    }
}