html {
    font-size: 64%;
}

.header {
    .navbar-brand,
    .navbar-text,
    .nav-link {
        color: $main-text-color;
    }
    .navbar-toggler-icon {
        background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        border-color: rgba(0, 0, 0, 0);
    }
}

main {
    padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8rem;
}

.footer-menu {
    height: 8rem;
    background-color: $main-color;
    span {
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    i {
        font-size: 2rem;
    }
    .nav-link {
        color: $main-text-color;
    }
}

.notifications {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    .notice {
        background-color: $main-color;
    }
    .alert {
        background-color: lightsalmon;
    }
}

.errors {
    background-color: lightsalmon;
    color: red;
    text-align: center;
    font-size: 1.5rem;
}

.field_with_errors {
    .form-control {
        border-color: red;
    }
}

.delete_link {
    background: none;
    border: none;
    color: $main-color;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    &:hover {
        color: #fff;
        background-color: #000;
    }
}